absl-py==2.3.0
certifi==2025.4.26
charset-normalizer==3.4.2
chex==0.1.89
etils==1.12.2
filelock==3.18.0
flax==0.10.6
fsspec==2025.5.1
hf-xet==1.1.3
huggingface-hub==0.32.4
humanize==4.12.3
idna==3.10
importlib_resources==6.5.2
jax==0.6.1
jaxlib==0.6.1
markdown-it-py==3.0.0
mdurl==0.1.2
ml_dtypes==0.5.1
msgpack==1.1.0
nest-asyncio==1.6.0
numpy==2.3.0
opt_einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.11.13
packaging==25.0
protobuf==6.31.1
Pygments==2.19.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
rich==14.0.0
safetensors==0.5.3
scipy==1.15.3
setuptools==80.9.0
simplejson==3.20.1
tensorstore==0.1.75
tokenizers==0.21.1
toolz==1.0.0
tqdm==4.67.1
transformers==4.52.4
treescope==0.1.9
typing_extensions==4.14.0
urllib3==2.4.0
zipp==3.23.0
